/*INITIAL STYLING*/

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-image: linear-gradient(var(--pink), var(--yellow), var(--teal), var(--purple2) );
    padding: 2rem;
    margin: 1rem auto;
    max-width: 1000px;
}

/* Color Variables */

:root {
    --h1: #d16b74;
    --h2: #C12020;
    --dark: #212121;
    --accent1: #F54F50;

    --pink: rgb(255, 93, 93);
    --orange: rgb(255, 102, 67);
    --orange2: rgb(255, 142, 49);
    --yellow: rgb(255, 218, 68);
    --green: rgb(145, 255, 89);
    --teal: rgb(0, 255, 208);
    --blue: rgb(66, 81, 254);
    --purple: rgb(124, 0, 249);
    --purple2: rgb(186, 47, 255);
}

/* Images */

img {
    width: 100%;
    height: auto;
}

/* Header */

h1 {
    text-align: center;
}

/* Home page grid */

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    padding: 0 1rem 0 0;
    max-width: 1400px;
    margin: 0 auto;
}
.image-grid a {
    padding: 1rem 0 0 1rem;
}
.image-grid img {
    box-shadow: 4px 4px 4px 3px #00000046;
    border-radius: 10px;
}

.thumbnails{
    margin: .5rem;
}

/* media queries home page */
@media screen and (max-width: 450px) {
    .image-grid {
        grid-template-columns: 1fr;
    }
    #logo{
        max-width: 200px;
        padding: 0 2rem .5rem;
    }
}
@media screen and (min-width: 450px) {
    .image-grid {
        grid-template-columns: 1fr 1fr;
    }
    #logo{
        max-width: 200px;
        padding: 0 2rem .5rem;
    }
}
@media screen and (min-width: 650px) {
    .image-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #logo{
        max-width: 250px;
        padding: 0 2rem 1rem;
    }
}
@media screen and (min-width: 1000px) {
    .image-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* --------- PAGE 2 ----------- */

.coloring-page {
    display: grid;
    max-width: 100vw;
    margin: 1rem;
    background-color: white;
    border-radius: 10px;
}

.coloring_image {
    padding: 1rem;
}

/* Colors */

.colors {
    border: solid 2px white;
    border-radius: 5rem;
    width: 2rem;
    height: 2rem;
    margin: .2rem;
}
.all_colors {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.658);
    padding: 1rem;
    justify-self: flex-end;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

input[type="color"] {
    opacity: 0;
    z-index: 0;
}

.stack {
    position: absolute;
    width: 2rem;
    z-index: 1;
}

/* Icons */

.iconify {
    font-size: 1.75rem;
    margin: 0 .5rem;
}
.tools {
    display: flex;
    flex-flow: row ;
    justify-content: flex-end;
    align-items: baseline;
    padding: 0 0 1rem;
}

/* Hover States */

.colors, .iconify, [stack] {
    /* Standard smooth transition, add elements to list to apply effect */
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.colors:hover, .iconify:hover, [stack]:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Media Queries */

@media screen and (min-width: 282px){
    .all_colors{
        padding: 1rem 2rem;
    }
}
@media screen and (min-width: 292px){
    .all_colors{
        padding: 1rem 2.5rem;
    }
}
@media screen and (min-width: 310px){
    .all_colors{
        padding: 1rem 3rem;
    }
}
@media screen and (min-width: 346px){
    .all_colors{
        padding: 1rem 1.75rem;
    }
}
@media screen and (min-width: 384px){
    .all_colors{
        padding: 1rem 2.5rem;
    }
}
@media screen and (min-width: 407px){
    .all_colors{
        padding: 1rem 3rem;
    }
}
@media screen and (min-width: 423px){
    .all_colors{
        padding: 1rem 3.5rem;
    }
}
@media screen and (min-width: 439px){
    .all_colors{
        padding: 1rem 4.5rem;
    }
}
@media screen and (min-width: 474px){
    .all_colors{
        padding: 1rem 1rem;
    }
}
