/* INDEX */

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-image: linear-gradient(var(--pink), var(--yellow), var(--teal), var(--purple2) );
    padding: 2rem;
    margin: 1rem auto;
    max-width: 1000px;
}

/* Color Variables */

:root {
    --h1: #d16b74;
    --h2: #C12020;
    --dark: #212121;
    --accent1: #F54F50;

    --pink: rgb(255, 93, 93);
    --orange: rgb(255, 102, 67);
    --orange2: rgb(255, 142, 49);
    --yellow: rgb(255, 218, 68);
    --green: rgb(145, 255, 89);
    --teal: rgb(0, 255, 208);
    --blue: rgb(66, 81, 254);
    --purple: rgb(124, 0, 249);
    --purple2: rgb(186, 47, 255);
}

/* Images */

img {
    width: 100%;
    height: auto;
}

/* Header */

h1 {
    text-align: center;
}

/* Home page grid */

.image-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    padding: 0 1rem 0 0;
    max-width: 1400px;
    margin: 0 auto;
}
.image-grid a {
    padding: 1rem 0 0 1rem;
}
.image-grid img {
    box-shadow: 4px 4px 4px 3px #00000046;
    border-radius: 10px;
}

.thumbnails{
    margin: .5rem;
}

/* media queries home page */

@media screen and (max-width: 450px) {
    .image-grid {
        grid-template-columns: 1fr;
    }
    #logo{
        max-width: 200px;
        padding: 0 2rem .5rem;
    }
}
@media screen and (min-width: 450px) {
    .image-grid {
        grid-template-columns: 1fr 1fr;
    }
    #logo{
        max-width: 200px;
        padding: 0 2rem .5rem;
    }
}
@media screen and (min-width: 650px) {
    .image-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #logo{
        max-width: 250px;
        padding: 0 2rem 1rem;
    }
}
@media screen and (min-width: 1000px) {
    .image-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}