body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #283333;
}

.iconify {
    color: white;
    width: 50%;
    height: 2rem;
}

.item {
    margin: 10%;
}

.item:hover {
    transform: scale(1.1);
}

.toolbox {
    height: 100vh;
    width: 5%;
    background-color: #3a4b4b;
}

.group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20% 0;
}

[data-line-width] {
    background-color: white;
    border-radius: 100%;
}

[data-line-width="1"] {
    width: 1px;
    height: 1px;
}

[data-line-width="5"] {
    width: 5px;
    height: 5px;
}

[data-line-width="20"] {
    width: 20px;
    height: 20px;
}

[data-line-width="50"] {
    width: 50px;
    height: 50px;
}