* {
    color: white;
}

html, body, main {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

.aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
    background-color: #202020;
}

.main-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 6rem);
    background-color: #f1f1f1;
}

canvas {
    background-color: white;
    max-width: 100%;
    max-height: 100%;
    background-image: url(../../graphics/DIGM223_An_Christina.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.group {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item {
    width: 1.5rem;
    height: 1.5rem;
    padding: .25rem;
    margin: 0 .25rem;
}

.swatches {
    width: 100%;
    justify-content: space-evenly;
}

.swatch {
    border-radius: 50%;
    border: #00000000 solid .1rem;
    /* margin: 0 1rem 0 0; */
}

.linewidths .item {
    background-color: white;
    border-radius: 50%;
}

.svg {
    width: 1.5rem;
    height: 1.5rem;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
}

input[type="color"] {
    opacity: 0;
    z-index: 0;
    display: none;
}

.stack {
    border: #202020 solid .1rem;
    border-radius: 50%;
    transform: scale(1.15);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 231.36 231.36'%3E%3Cdefs/%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='Layer 1'%3E%3Cpath fill='%23f47c20' d='M197.69 34.1a115.32 115.32 0 00-82-34.1v116.11z'/%3E%3Cpath fill='%23fdce0a' d='M197.69 34.1l-82 82h115.66v-.43a115.3 115.3 0 00-33.66-81.57z'/%3E%3Cpath fill='%2365af45' d='M197.26 197.69a115.28 115.28 0 0034.09-81.58H115.68z'/%3E%3Cpath fill='%23029695' d='M115.68 231.36a115.3 115.3 0 0081.58-33.67l-81.58-81.58z'/%3E%3Cpath fill='%234f61ac' d='M34.1 197.69a115.3 115.3 0 0081.58 33.67V116.11z'/%3E%3Cpath fill='%236b449b' d='M0 116.11a115.28 115.28 0 0034.1 81.58l81.58-81.58z'/%3E%3Cpath fill='%23a43393' d='M33.67 34.1A115.3 115.3 0 000 115.68v.43h115.68z'/%3E%3Cpath fill='%23e12526' d='M115.68 0a115.32 115.32 0 00-82 34.1l82 82z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.active-line-width, .active-mode, .active-shape, .active-command {
    background-color: #585858;
}

.active-swatch {
    border: white solid .1rem;
}

.for-brush, .for-shapes {
    /* display: none; */
}

/* Hovers */

[data-command]:hover, [data-shape]:hover, [data-mode]:hover, [data-linewidth]:hover, [data-brushwidth]:hover {
    background-color: #585858;
}

.swatch:hover, .stack:hover {
    border: white solid .1rem;
}